* {
  padding: 0;
  margin: 0;
  border: 0;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SofiaPro-Regular";
  src: url(../assets/fonts/SofiaPro/SofiaPro-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SharpSans-Bold";
  src: url(../assets/fonts/SharpSans/SharpSans-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SharpSans-Regular";
  src: url(../assets/fonts/SharpSans/SharpSans-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
.nav__logo {
  font-size: 26px;
  font-family: "Poppins-Medium", sans-serif;
  color: #333333;
  text-transform: none;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.nav__list--item-link {
  font-size: 20px;
  font-family: "SofiaPro-Regular", sans-serif;
  color: #2C3847;
  text-transform: none;
}
.nav__list--item-link:hover {
  color: #5FB848;
}
.nav__list--item-link:active {
  color: #787878;
}
.nav__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.nav__order button {
  margin-left: 10px;
  padding: 14px 30px;
  background-color: #2C3847;
  border-radius: 27px;
  font-size: 20px;
  font-family: "SofiaPro-Regular", sans-serif;
  color: #FFFFFF;
  text-transform: none;
}
.nav__order button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#64BB47), to(#2C9553));
  background-image: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
}

#intro {
  min-height: 990px;
  width: 100%;
  background-image: url(../assets/images/intro/food1x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/* Background image for 2x (retina) devices */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #intro {
    background-image: url(../assets/images/intro/food2x.png);
  }
}
.intro-wrapper {
  padding-top: 160px;
  padding-left: 60px;
}
.intro__title {
  font-size: 76px;
  font-family: "SharpSans-Bold", sans-serif;
  color: #181D19;
  text-transform: none;
  max-width: 626px;
  line-height: 95px;
}
.intro__title span {
  color: #5FB848;
}
.intro__text {
  font-size: 24px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #181D19;
  text-transform: none;
  max-width: 540px;
  line-height: 34px;
}
.intro__btn {
  padding: 16px 40px;
  border-radius: 50px;
  background-color: #2C3847;
  font-size: 24px;
  font-family: "SofiaPro-Regular", sans-serif;
  color: #FFFFFF;
  text-transform: none;
  margin-top: 50px;
}
.intro__btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#64BB47), to(#2C9553));
  background-image: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
}

#choose {
  width: 100%;
}

.choose-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.choose__title {
  font-size: 54px;
  font-family: "SharpSans-Bold", sans-serif;
  color: #181D19;
  text-transform: none;
}
.choose__subtitle {
  font-size: 24px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #181D19;
  text-transform: none;
}
.choose__card {
  margin: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}
.choose__card--item {
  min-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.choose__card--item-title {
  font-size: 28px;
  font-family: "SharpSans-Bold", sans-serif;
  color: #181D19;
  text-transform: none;
  margin-top: 36px;
}
.choose__card--item-text {
  font-size: 18px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #181D19;
  text-transform: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#39463F), to(#101612));
  background: linear-gradient(180deg, #39463F 0%, #101612 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 28px;
  text-align: center;
  max-width: 280px;
}
.choose__statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 150px;
     -moz-column-gap: 150px;
          column-gap: 150px;
}
.choose__statistics--item {
  text-align: center;
}
.choose__statistics--item-title {
  font-size: 44px;
  font-family: "SharpSans-Bold", sans-serif;
  color: #000000;
  text-transform: none;
}
.choose__statistics--item-text {
  font-size: 20px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #2C3847;
  text-transform: none;
}

#about {
  width: 100%;
}

.about-wrapper {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 95px;
     -moz-column-gap: 95px;
          column-gap: 95px;
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 520px;
}
.about__content--title {
  font-size: 54px;
  font-family: "SharpSans-Bold", sans-serif;
  color: #181D19;
  text-transform: none;
}
.about__content--text {
  font-size: 22px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #181D19;
  text-transform: none;
  line-height: 34px;
}
.about__content--btn {
  font-size: 24px;
  font-family: "SofiaPro-Regular", sans-serif;
  color: #FFFFFF;
  text-transform: none;
  background-color: #2C3847;
  padding: 16px 41px;
  border-radius: 50px;
  margin-top: 68px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about__content--btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#64BB47), to(#2C9553));
  background-image: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
}
.about__images {
  min-width: 640px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.about__images--item:nth-child(2) {
  grid-row: span 2;
  margin-top: 70px;
}

#fresh-vegetables {
  width: 100%;
}

.fresh-vegetables-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 120px;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
.fresh-vegetables__content--title {
  font-size: 54px;
  font-family: "SharpSans-Bold", sans-serif;
  color: #181D19;
  text-transform: none;
  max-width: 500px;
}
.fresh-vegetables__content--text {
  font-size: 22px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #181D19;
  text-transform: none;
  line-height: 34px;
  max-width: 545px;
}
.fresh-vegetables__content--btn {
  font-size: 24px;
  font-family: "SofiaPro-Regular", sans-serif;
  color: #FFFFFF;
  text-transform: none;
  background-color: #2C3847;
  padding: 16px 41px;
  border-radius: 50px;
  margin-top: 40px;
}
.fresh-vegetables__content--btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#64BB47), to(#2C9553));
  background-image: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
}

#best-chef {
  width: 100%;
}

.best-chef-wrapper {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
}
.best-chef__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.best-chef__content--title {
  font-size: 54px;
  font-family: "SharpSans-Bold", sans-serif;
  color: #181D19;
  text-transform: none;
  max-width: 500px;
  line-height: 67.5px;
}
.best-chef__content--text {
  font-size: 22px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #181D19;
  text-transform: none;
  line-height: 34px;
  max-width: 510px;
}
.best-chef__content--list {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  font-size: 20px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #181D19;
  text-transform: none;
}
.best-chef__content--list i {
  color: #5FB848;
  margin-right: 10px;
}

#special-dishes {
  width: 100%;
}

.special-dishes-wrapper {
  padding-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.special-dishes__title {
  font-size: 54px;
  font-family: "SharpSans-Bold", sans-serif;
  color: #181D19;
  text-transform: none;
  line-height: 67.5px;
  text-align: center;
}
.special-dishes__subtitle {
  font-size: 24px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #2C3847;
  text-transform: none;
  text-align: center;
}
.special-dishes__card {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 51px;
     -moz-column-gap: 51px;
          column-gap: 51px;
}
.special-dishes__card--item {
  border: 1px solid #EBEBEB;
  border-radius: 20px;
  cursor: pointer;
  padding: 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.special-dishes__card--item-name {
  font-size: 30px;
  font-family: "SharpSans-Bold", sans-serif;
  color: #181D19;
  text-transform: none;
  line-height: 37.5px;
}
.special-dishes__card--item-text {
  font-size: 18px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #181D19;
  text-transform: none;
  line-height: 28px;
  text-align: center;
  max-width: 300px;
}
.special-dishes__card--item:hover {
  -webkit-box-shadow: -15px -50px 81px #FFFFFF, 10px 20px 70px rgba(71, 68, 68, 0.08);
          box-shadow: -15px -50px 81px #FFFFFF, 10px 20px 70px rgba(71, 68, 68, 0.08);
}
.special-dishes__btn {
  margin-top: 76px;
  font-size: 24px;
  font-family: "SofiaPro-Regular", sans-serif;
  color: #FFFFFF;
  text-transform: none;
  background-color: #2C3847;
  padding: 16px 63px;
  border-radius: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.special-dishes__btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#64BB47), to(#2C9553));
  background-image: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
}

#clients {
  width: 100%;
  background-color: #FCFCFC;
}

.clients-wrapper {
  padding: 70px 0;
}
.clients__title {
  font-size: 54px;
  font-family: "SharpSans-Bold", sans-serif;
  color: #181D19;
  text-transform: none;
  line-height: 68px;
  text-align: center;
}
.clients-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients-card__user {
  padding: 40px 27px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  max-width: 514px;
  cursor: pointer;
}
.clients-card__user--header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 37px;
     -moz-column-gap: 37px;
          column-gap: 37px;
}
.clients-card__user--header-name h1 {
  font-size: 20px;
  font-family: "SharpSans-Bold", sans-serif;
  color: #181D19;
  text-transform: none;
}
.clients-card__user--header-name p {
  font-size: 14px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #888A9A;
  text-transform: none;
}
.clients-card__user--header::after {
  content: "";
  background-image: url(../assets/icons/clients.svg);
  background-repeat: no-repeat;
  width: 87px;
  height: 71px;
  position: absolute;
  top: 0;
  right: 0;
}
.clients-card__user--text {
  margin-top: 32px;
  font-size: 18px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #181D19;
  text-transform: none;
  line-height: 30px;
  text-align: justify;
}
.clients-card__user:hover {
  -webkit-box-shadow: 3px 15px 35px rgba(120, 125, 173, 0.06);
          box-shadow: 3px 15px 35px rgba(120, 125, 173, 0.06);
}
.clients__arrow {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.clients__arrow i {
  font-size: 40px;
  cursor: pointer;
}
.clients__arrow i:hover {
  color: #5FB848;
}

#subscribe {
  width: 100%;
}

.subscribe-wrapper {
  padding-top: 120px;
  padding-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.subscribe-wrapper form {
  margin-top: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.subscribe-wrapper form input {
  border: 1px solid #F5F5F5;
  border-radius: 50px;
  width: 330px;
  padding: 18px 0 18px 20px;
}
.subscribe-wrapper form input::-webkit-input-placeholder {
  font-size: 18px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #8A8A8A;
  text-transform: none;
}
.subscribe-wrapper form input::-moz-placeholder {
  font-size: 18px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #8A8A8A;
  text-transform: none;
}
.subscribe-wrapper form input:-ms-input-placeholder {
  font-size: 18px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #8A8A8A;
  text-transform: none;
}
.subscribe-wrapper form input::-ms-input-placeholder {
  font-size: 18px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #8A8A8A;
  text-transform: none;
}
.subscribe-wrapper form input::placeholder {
  font-size: 18px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #8A8A8A;
  text-transform: none;
}
.subscribe-wrapper form button {
  font-size: 20px;
  font-family: "SofiaPro-Regular", sans-serif;
  color: #FFFFFF;
  text-transform: none;
  background-color: #2C3847;
  padding: 17px 32px;
  border-radius: 50px;
}
.subscribe-wrapper form button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#64BB47), to(#2C9553));
  background-image: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
}
.subscribe__title {
  font-size: 36px;
  font-family: "SharpSans-Bold", sans-serif;
  color: #181D19;
  text-transform: none;
}
.subscribe__text {
  font-size: 24px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #2C3847;
  text-transform: none;
}

footer {
  width: 100%;
}

.footer-up {
  background-color: #FCFCFC;
  padding: 114px 0;
}
.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}
.footer__left ul {
  cursor: pointer;
}
.footer__left ul li:first-child {
  font-size: 26px;
  font-family: "SharpSans-Bold", sans-serif;
  color: #657582;
  text-transform: none;
  margin-bottom: 34px;
}
.footer__left ul li {
  font-size: 16px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #657582;
  text-transform: none;
}
.footer__left ul li:hover {
  color: #181D19;
}
.footer__left ul li:nth-child(2) {
  max-width: 272px;
}
.footer__right {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__right ul {
  cursor: pointer;
}
.footer__right ul li:first-child {
  font-size: 26px;
  font-family: "SharpSans-Bold", sans-serif;
  color: #657582;
  text-transform: none;
  margin-bottom: 20px;
}
.footer__right ul li {
  font-size: 16px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #657582;
  text-transform: none;
  margin-bottom: 12px;
}
.footer__right ul li:hover {
  color: #181D19;
}
.footer-bottom {
  padding: 20px 0;
  font-size: 16px;
  font-family: "SharpSans-Regular", sans-serif;
  color: #FFFFFF;
  text-transform: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#64BB47), to(#2C9553));
  background-image: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
  text-align: center;
}/*# sourceMappingURL=main.css.map */