#about{
    width: 100%;
}

.about{
    &-wrapper{
        padding-top: 120px;
        display: flex;
        column-gap: 95px;
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 520px;     
        &--title{
            @include font-style(54px, $ff-SharpSansBold, $color-intro-text);
        }
        &--text{
            @include font-style(22px, $ff-SharpSansRegular, $color-intro-text);
            line-height: 34px;
            // max-width: 520px;
        }
        &--btn{
            @include font-style(24px, $ff-SofiaProRegular, $color-white);
            background-color: $color-list;
            padding: 16px 41px;
            border-radius: 50px;
            margin-top: 68px;
            width: fit-content;
            &:hover{
                background-image: $color-bg-btn;
            }
        }
    }
    &__images{
        min-width: 640px;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 1fr; 
        grid-gap:  20px; 
        &--item:nth-child(2){
            grid-row: span 2;
            margin-top: 70px;
        }
    }
}